// General Classes

@mixin button($background, $border, $color) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100px;
    padding: 16px 24px;
    border: 1px solid $border;
    color: $color;
    background: $background;
    cursor: pointer;
    border-radius: 50px;
    font-weight: $mediumFont;
}

.logo {

    &__img {
        width: 133px;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: $semiboldFont;
    font-size: 60px;
    line-height: 70px;

    &_text-decoration {
        position: relative;
        background: none;
        text-decoration: none;

        &::before {
            content: "";
            position: absolute;
            top: calc(100% - 11px);
            left: 0;
            width: 100%;
            height: 11px;
            background-image: url("../images/marked-text.svg");
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

    &_thin {
        font-weight: $normalFont;
    }
}

.subtitle {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
}

.user {

    display: flex;
    align-items: center;

    &__avatar {
        width: 56px;
    }

    &__right-section {
        margin-left: 8px;
    }

    &__name {
        margin-bottom: 4px;
        font-weight: $semiboldFont;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.03em;
    }

    &__roles {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
    }
}

.title-mini {
    font-weight: $semiboldFont;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.03em;
}

.search {
    width: 562px;
    height: 84px;
    background: $white;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px 4px 24px;

    &__input {
        height: 100%;
        width: calc(100% - 70px);
        background: none;
        border: none;
        outline: none;
        font-weight: $mediumFont;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.03em;
        color: $black;

        &::placeholder {
            color: $black;
        }
    }

    &__button {
        height: 100%;
        border-radius: 52px;
        cursor: pointer;
        font-weight: $mediumFont;
        font-size: 18px;
        line-height: 28px;
        color: $white;
        display: inline-block;
        padding: 12px 24px;
        text-align: center;
        min-width: auto;
        background: $primaryBlue;
        transition: all .3s ease;

        &:hover {
            background: $black;
            color: $white;
        }
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}