// Color Variables

$white: #FFFFFF;
$black: #1E1E1E;

$primaryBlue: #2F65D5;
$beige: #FFFAFA;

// Fonts Variables

$primaryFont: "Montserrat";
$normalFont: 400;
$mediumFont: 500;
$semiboldFont: 600;
$boldFont: 700;

$primaryFontSize: 18px;

// Container Variables

$containerWidth: 1200px;
$containerPadding: 30px;